{% extends 'base.jinja2' %}

{% block subtitle %}Login{% endblock subtitle %}

{% block content %}
    <form method="POST">
    {% if error %}<p>{{ error }}</p>{% endif %}
        <div>
        <label for="username">Username</label><input type="text" name="username"/>
        </div>
        <div>
        <label for="password">Password</label><input type="password" name="password" />
        </div>
        <div>
        <input type="submit" value="login" />
        </div>
    </form>

{% endblock content %}